body {
    font-family: "Teachers", sans-serif;
    line-height: 15px;
}

header {
    background-color: #E7BBCA;
    padding: 10px;
}

header h1 {
    font-size: 25px;
    font-weight: 200;
    display: inline-block;
    position: relative;
    bottom: 43px;
    margin-left: 10px;
}

nav {
    background-color: #E6DEE1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 9px 18px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: #777576;
}

footer {
    background-color: #E6DEE1;
}

footer p {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 25px;
}

footer div img {
    display: inline-block;
    position: relative;
    left: 1180px;
    top: -20px;
}
nav ul li a.activo {
    background-color: #777576;

}

h2{ 
    background-color: #E6DEE1;
}

.Bienvenido h2{
    font-weight: 150;
}

.Trayectoria h2{
    font-weight: 150;
}

.Personas{
        display: flex;
        justify-content: space-evenly;
    }

.persona{
    border: 1px;
    border-radius: 1px;
    width: 18%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: #E7BBCA;
}

.persona img{
    border-radius: 50%;
    max-width: 80%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.persona h5{
    font-size: 17px;
    font-weight: -300;
}
.persona h6{
    font-size: 14px;
    font-weight: -100;
}
.persona p{
    font-size: 13px;
}

/*fin nosotros*/

/*Inicio Destinos*/

.Destino{
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #E7BBCA;
}

.Destino .info h4{
    font-style: italic;
    border-bottom: 1px solid ;
    padding-bottom: 5px;
    font-size: 20px;
}
.Destino .info p{
    font-size: 15px;
}

.Destino img{
    border-radius: 50px;
    display: block;

}
.Destino:nth-child(even){
flex-direction: row-reverse;
}

/* Fin Destinos*/

.Ofertas{
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #E7BBCA;
}

.Ofertas .info li{
    font-weight: 500;
}

.Formularios p{
    display: flex;
    margin-left: 40px;
}

.formulario label{
    width: 200px;
    background-color:#E6DEE1;
}
.formulario p textarea,
.formulario p input{
    width: 300px
}
.formulario p input,
.formulario p textarea {
font-size: 14px;
border-radius: 5px;
border: 1px solid black;
background-color: #E6DEE1;
height: 20px;
width: 300px;    
}
.formulario p textarea{
    height: 150px;
}

.formulario input[type="submit"]{
    width: 506px;
    height: 30px;
    position: relative;
    cursor: pointer;
}
.formulario input[type="submit"]:hover{
    background-color: #777576;
}